root {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
  --link-color: #1e90ff;
  --font-family: 'Arial', sans-serif;
  --font-size: 16px;
  --background-image: url("/home/thevaro93/Images/wallpaper/miku_green_win7wallpaper_pfp.png");
}